body {
	margin-left: 20%;
	margin-right: 20%;
	font-family: "Helvetica";
}

h2 {
	font-size: 40px;
	margin-top: 10%;
}

h3 {
	font-size: 30px;
}

#nosql1{
	background-image: url("nosql_inj_1.png"); 
	height: 120px;
	width: 800px;
	background-size: 800px 120px;
	background-repeat: no-repeat;
}

#nosql2{
	background-image: url("nosql_inj_2.png"); 
	height: 140px;
	width: 950px;
	background-size: 950px 140px;
	background-repeat: no-repeat;
}

#nosqlcode{
	background-image: url("nosql_code.png"); 
	height: 180px;
	width: 600px;
	background-size: 600px 180px;
	background-repeat: no-repeat;
}

#indexsort{
	background-image: url("index_sort.png"); 
	height: 420px;
	width: 800px;
	background-size: 800px 420px;
	background-repeat: no-repeat;
}

#indexsortcode{
	background-image: url("index_sort_code.png"); 
	height: 300px;
	width: 790px;
	background-size: 790px 300px;
	background-repeat: no-repeat;
}

#corscode{
	background-image: url("corscode.png"); 
	height: 40px;
	width: 550px;
	background-size: 550px 40px;
	background-repeat: no-repeat;
}

#cors1{
	background-image: url("cors1.png"); 
	height: 65px;
	width: 650px;
	background-size: 650px 65px;
	background-repeat: no-repeat;
	margin: 5px;
}

#cors2{
	background-image: url("cors2.png"); 
	height: 70px;
	width: 650px;
	background-size: 650px 70px;
	background-repeat: no-repeat;
	margin: 5px;
}

#cors3{
	background-image: url("cors3.png"); 
	height: 70px;
	width: 650px;
	background-size: 650px 70px;
	background-repeat: no-repeat;
	margin: 5px;
}

#cors4{
	background-image: url("cors4.png"); 
	height: 28px;
	width: 650px;
	background-size: 650px 28px;
	background-repeat: no-repeat;
	margin: 5px;
}







